@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #1b1f24;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* need to mention top and left mandatory 
  if you are using position:fixed */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  /* need to mention width:100% to
   get your navigation exactly according to your needs */
  background-color: transparent;
  width: 100%;
  padding: 20px 3%;
}
.logo a {
  text-decoration: none;
  color: white;
  font-size: 26px;
  font-weight: normal;
}
nav ul li {
  list-style: none;
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  color: #ffffffe5;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 18px;
  padding: 10px 20px;
}
@media (max-width: 850px) {
  nav ul li a {
    font-size: 14px;
    padding: 5px 10px;
  }
}
.header-container {
  background-image: url("images/hero-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 20% right;
  width: 100%;
  height: 100vh;
  color: #ffffffe5;
  position: relative;
}
header {
  position: absolute;
  top: 260px;
  left: 20px;
  padding: 20px;
}
.btn {
  padding: 12px 50px;
  font-weight: bold;
}
.btn:hover {
  color: #ffffffe5;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}
header h1 {
  font-size: 48px;
  padding: 20px 0px;
  font-weight: normal;
}
header p {
  max-width: 450px;
  line-height: 1.3;
  margin-bottom: 20px;
}

/* portfolio section */

.gallery-container {
  margin-top: 50px;
}
.gallery-container section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  padding: 40px 180px;
  padding-top: 60px;
  width: 100vw;
}
.gallery-container section img {
  width: 100%;
  height: 35vh;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}
.gallery-container section img:hover {
  border: 2px solid #ffffffe5;
}
@media (max-width: 800px) {
  .gallery-container section {
    grid-template-columns: 1fr 1fr;
    width: 100vw;
  }
}
@media (max-width: 600px) {
  .gallery-container section {
    grid-template-columns: 1fr;
    width: 100vw;
  }
}

/* Service section */

.main-container {
  margin-top: 60px;
}
.container-main {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 140px;
  padding: 0px 15%;
}
.container-main .container1 {
  font-size: 28px;
  font-weight: normal;
}
.container-main .sub-container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 630px;
  gap: 40px;
  margin-bottom: 20px;
}
.container-main .sub-container1 h2 {
  margin-bottom: 15px;
}
.container2 .sub-container2 {
  border-top: 3px solid #fff;
  padding: 30px;
  position: relative;
}
.service-btn {
  padding: 10px 50px;
  font-weight: bold;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  position: absolute;
  right: 0;
}
/* about page styles */

.about-main-container {
  margin-top: 60px;
  display:flex;
  justify-content: space-around;
  padding:0px 180px;
  position:relative;
  top:80px;
}
.about-container1{
  padding:20px;
}
.about-container1 p{
  font-size: 1.2rem;
  margin-bottom:20px;
}
.about-container1 h1{
  font-size: 3.5rem;
  font-weight:normal;
}

.about-container2{
  max-width:600px;
  line-height: 1.4;
}
.about-container2 p{
  margin-bottom:20px;
}
.about-btn{
  padding:10px 120px;
  font-size: 16px;
  font-weight:bold;
  color:rgba(0, 0, 0, 0.836);
  margin-top:20px;
}
.about-btn:hover{
  color: #ffffffe5;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}
@media(max-width:800px){
  .about-main-container{
    display:block;
    width:100vh;
  }
  .about-btn{
    padding:10px 60px;
    font-size: 14px;
  }
}
